* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #161616;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
}