* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

body {
    height: 100vh;
    /*background-color: #161616;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    gap: 2rem;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
}

.popup {
    background-color: #363636;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50vw;
    left: 25%;
    top: 25%;
    position: absolute;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem #242424;
}